<style>
    .image-gallery {
        overflow: auto;
        margin-left: -1% !important;
    }

    .image-gallery li {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
        width: 32%;
    }

    .image-gallery li a {
        text-align: center;
        text-decoration: none !important;
        color: #777;
    }

    .image-gallery li a span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
    }

    .image-gallery li a img {
        width: 100%;
        display: block;
    }
</style>

<ul class="image-gallery">
    {% assign images = site.data.gallery | sort: "year" %}
    {% for image in images %}
    {% assign filename = image.filename | prepend: "/assets/images/" | relative_url %}
    {% assign caption = image.caption[page.lang] %}
    <li><a href="{{ filename }}" title="{{ caption }}">
            <img src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ filename }}&w=750&h=750&output=jpg&q=80&t=square"
                alt="{{ caption }}" title="{{ caption }}" />
            <span>({{ image.year }}): {{ caption }}</span>
        </a>
    </li>
    {% endfor %}
</ul>