<style>
    .image-gallery {
        overflow: auto;
        margin-left: -1% !important;
    }

    .image-gallery li {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
        width: 19%;
    }

    .image-gallery li a {
        text-align: center;
        text-decoration: none !important;
        color: #777;
    }

    .image-gallery li a span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
    }

    .image-gallery li a img {
        width: 100%;
        display: block;
    }
</style>

<ul class="image-gallery">
    {% assign images = site.data.gallery | sort: "year" %}
    {% for image in images %}
    {% assign filename = image.filename | prepend: "/assets/images/" %}
    <li><a href="{{ filename | relative_url }}" title="{{ image.caption }}"><img
                src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ filename | relative_url }}&w=300&h=300&output=jpg&q=50&t=square"
                alt="{{ image.location }}, {{ image.year }}"
                title="{{ image.caption }}" /><span>{{ image.caption }}</span></a>
    </li>
    {% endfor %}
</ul>